/*!
Theme Name: amandaschautica
Theme URI: http://underscores.me/
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: amandaschautica
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA #c9739d

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
a{
  outline: none;
}

/* BODY */
  body{
  }

/* TOPO */
  .topo{
    padding: 0 10px;
  }
  header{

  }
    .topo .containerMenu{
      padding: 20px 0 0;
    }
      
      .topo .containerMenu .logo{

      }
        .topo .containerMenu .logo a{
          display: block;
          padding: 0 0 5px 0;
        }
          .topo .containerMenu .logo img{
          	width: 100%;
          	max-width: 198px;
           
          }
      .topo .navbar{
        margin: 0
      }
      .topo .nav.navbar-nav {
        float: none;
        display: inline-block;
      }
        .topo .navbar button{
          border: solid 1px #ccc;
          margin: 0 20px;
          display: none;
        } 
          .topo .navbar button span{
            background: #ccc;
          }  
        .topo .navbar .navbar-header{
          float: initial;
          width: 100%;
          text-align: right;
        } 
          .topo .navbar .navbar-header nav{
            padding-top: 20px;
          }  
          .topo.topoFixo .navbar .navbar-header nav{
            padding-top: 20px;
            padding-bottom: 14px;
          } 
          .topo.topoFixo .pesquisar{
            margin-top: 7px;
          }
            .topo .navbar .navbar-header nav ul{
              float: initial;
              width: 100%;
              text-align: right;
              display: inline-block;
              margin: 0;
              max-width: 790px;
              padding-right: 20px;
              font-size: 0;
            } 
              .topo .navbar .navbar-header nav ul li{
                float: none;
                display: inline-block;
                margin-bottom: 6px;
              }
                .topo .navbar .navbar-header nav ul li a{
                  color: #000;
                  font-family: "Open Sans";
                  font-size: 13px;
                  line-height: 19px;
                  text-align: center;
                  padding: 6px 17px;
                  display: block;
                  text-transform: uppercase;
                  text-decoration: none;
                  -webkit-transition: linear .4s;
                  -o-transition: linear .4s;
                  transition: linear .4s;
                }
                .topo .navbar .navbar-header nav ul li a::after{
                  content: "";
                  display: none;
                  width: 0%;
                  height: 2px;
                  background: #c9739d;
                  margin-top: 4px;
                  -webkit-transition: linear .4s;
                  -o-transition: linear .4s;
                  transition: linear .4s;
                }
                .topo .navbar .navbar-header nav ul li a:hover{
                  border-bottom: 2px solid #000;
                }
                .topo .navbar .navbar-header nav ul li a:hover::after{
                  width: 100%;
                }
                  .topo .navbar .navbar-header nav ul li a:before{
                    content: attr(title);
                    display: none;
                    margin-top: 0;
                    color:#c9739d; 
                    font-family: "Open Sans"; 
                    font-size: 14px;  
                    text-decoration: none;
                    height: 1px;
                    overflow: hidden;
                    visibility: hidden;
                  }
                  .topo .navbar .navbar-header nav ul li a:focus{
                    background-color: transparent!important;
                  }
                  .topo .navbar .navbar-header nav ul li a:active{
                    background-color: transparent!important;
                  }
                  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
                    background-color: transparent!important;
                  }
                  .nav>li>a:hover, .nav>li>a:focus{
                    background-color: transparent!important; 
                  }
    .topo .pesquisar{
      display: inline-block;
      max-width: 30px;
      position: relative;
      width: 100%;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      float: right;
    }
      .topo .pesquisar input[type="submit"]{
        background: url(img/Group8.png) no-repeat;
        color: transparent;
        border: none;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 0;
        outline: none;
        top: 0;
      }
      .topo .pesquisar input[type="text"]{
        display: block;
        width: 100%;
        border: none;
        border-bottom: solid 1px #c9739d;
        outline: none;
        height: 25px;
        opacity: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        padding-right: 25px;
        color: #c9739d; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        background: transparent;
      }
      .topo .pesquisar.abrirAreaPesquisar{
        max-width: 190px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
      }
      .topo .pesquisar.abrirAreaPesquisar input[type="text"]{
        opacity: 1;
        transition: .7s;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -o-transition: .7s;

      } 
      .topo .pesquisar.abrirAreaPesquisar input[type="submit"]{
        background: url(img/if_Arrow_Forward_1063879.png);
        width: 32px;

      } 
  .sub-menu.dropdown-menu{
    /*******************************/
    display: block!important;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    margin: 0;
  }
  
  .topo .navbar .navbar-header nav ul li:hover > .sub-menu.dropdown-menu {
    transition: all linear .5s;
    text-align: left;
    max-height: 500px;
    overflow: none;
  }
  .topo .navbar .navbar-header nav ul li:hover > .sub-menu.dropdown-menu > .dropdown-menu>li>a {
    color: #fff!important;
    transition: all linear .5s;
  }
 
   .dropdown.open .sub-menu.dropdown-menu li{
    display: block;
    padding: 0 5px 5px 5px; 
    width: 100%;
    
  }
  .dropdown.open .sub-menu.dropdown-menu a{
    padding: 0;
  }
  .topo.topoFixo .navbar .navbar-header nav  .dropdown.open .sub-menu.dropdown-menu a{
    padding: 0;
  }
  .dropdown-menu>li>a{
    text-align: left!important;
    padding: 10px;
  }
  .dropdown-menu>li {
    margin: 0!important;
    width: 100%;
    padding: 5px;
  }
                  
/*RODAPÉ*/
  .rodape_as{
    width: 100%;
    min-height: 350px;
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.62);
    padding: 20px;
    font-family: 'Raleway',sans-serif;
  }
    .rodape_as .categoriasRodape{

    }
      .rodape_as .categoriasRodape p{
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
      }
      .rodape_as .categoriasRodape .listaCategorias{
        padding: 0;
        margin: 0;
        list-style: none;
      }
        .rodape_as .categoriasRodape .listaCategorias li.categoria{
          display: inline-block;
          padding: 10px 15px;
          vertical-align: middle;
            border-bottom: 1px solid transparent;
            -webkit-transition: ease-in-out 0.3s;
            -o-transition: ease-in-out 0.3s;
            transition: ease-in-out 0.3s;
        }
        .rodape_as .categoriasRodape .listaCategorias li.categoria:hover{
          border-bottom: 1px solid;
        }
          .rodape_as .categoriasRodape .listaCategorias li.categoria a{
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
          }
    .rodape_as .menu_rodape_as{
      margin-top: 40px;
    }
      .rodape_as .menuRodape .nav{
        width: 100%;
        float: none;
      }
      .rodape_as .menuRodape ul{
        margin: 0;
        padding: 0;
        list-style: none;
      }
        .rodape_as .menuRodape ul li{
          display: inline-block;
          padding: 5px 15px;
          border-bottom: 1px solid transparent;
            -webkit-transition: ease-in-out 0.3s;
            -o-transition: ease-in-out 0.3s;
            transition: ease-in-out 0.3s;
        }
        .rodape_as .menuRodape ul li:hover{
          border-bottom: 1px solid;
        }
        
          .rodape_as .menuRodape ul li a{
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
            font-size: 13px;
          }
    .rodape_as .redesSociaisRodape{
    }
      .rodape_as .redesSociaisRodape ul{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
      }
        .rodape_as .redesSociaisRodape ul li{
          display: inline-block;
        }
          .rodape_as .redesSociaisRodape ul li a{
            line-height: 20px;
            display: block;
            padding: 10px;
            color: #fff;
            font-size: 17px;
            border-radius: 100%;
            background: transparent;
            width: 40px;
            height: 40px;
            border: 2px solid transparent;
            text-align: center;
            -webkit-transition: ease-in-out .3s;
            -o-transition: ease-in-out .3s;
            transition: ease-in-out .3s;
          }
          .rodape_as .redesSociaisRodape ul li a:hover{
            color: #fff;
            border: 2px solid #fff;
          }
          .rodape_as .redesSociaisRodape ul li a:hover i{
          }
            .rodape_as .redesSociaisRodape ul li a i{
    
            }
    .rodape_as .logoRodape{
      text-align: center;
      margin-top: 50px;
    }
      .rodape_as .logoRodape img{
        width: 100%;
        max-width: 300px;
      }
  .instagramRodape{
    width: 100%;
    min-height: 160px;
    
  }
    .instagramRodape #instafeed{
        font-size: 0;
    }
      .instagramRodape #instafeed a{
        display: inline-block;
        font-size: 10px;
        width: 16.6%;
      }
        .instagramRodape #instafeed a .itemInstagram{
          background-size: cover!important;
          background-position: center!important;
          width: 100%;
          min-height: 300px;
          position: relative;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transition: ease-in-out .3s;
          -o-transition: ease-in-out .3s;
          transition: ease-in-out .3s;
        }
        .instagramRodape #instafeed a .itemInstagram:hover{
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          -o-filter: grayscale(0);
          filter: grayscale(0);
        }
        .instagramRodape #instafeed a .itemInstagram:hover .likeComments {
          opacity: 0;
        }
        .instagramRodape #instafeed a .itemInstagram::before{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(0, 0, 0, 0.37);
          opacity: 0;
          -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
        }
        .instagramRodape #instafeed a .itemInstagram .likeComments{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          color: #fff;
          font-size: 15px;
            opacity: 0;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
        }
          .instagramRodape #instafeed a .itemInstagram .likeComments span{
            margin: 0 5px;
          }
            .instagramRodape #instafeed a .itemInstagram .likeComments span i{

            }
      .copyrightRodape {
        background: #fff
        color: #c9739d;
        font-family: 'Raleway',sans-serif;
        font-size: 15px;
      }
        .copyrightRodape p{
          text-align: center;
          margin: 0;
          padding: 60px 10px;
        }
          .copyrightRodape p i{

          }
          .copyrightRodape p  a{
            text-decoration: none;
            margin-left: 6px;
          }
          .copyrightRodape p img{
            width: 100%;
            max-width: 150px;
          }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }
    .pg .bannerPost{
      display: block;
      height: 376px;
      width: 100%;
      margin: 50px auto 0;
      background-size: cover !important;
      background-position: center !important;
    }
      .pg .bannerPost img{

      }
    .pg .areaNewsllater {
      margin-top: 60px;
      background: #c9739d;
      padding: 45px 20px 50px;
      border-radius: 5px;
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 1);
      
      margin: 60px auto;
    }

      .pg .areaNewsllater figure{
        max-width: 250px;
        display: block;
        margin: 0 auto 25px;
      }
      .pg .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 227px;
        margin: 0 auto 30px;
      }
        .pg .areaNewsllater small{
          position: relative;
          display: block;
        }
        .formError .formErrorContent{
      right: 0;
      top: 59px;
        position: absolute;
        }
      .pg .areaNewsllater .form{
         max-width: 227px;
         margin: 0 auto;
         text-align: right;
      }
        .pg .areaNewsllater .form input[type="text"]{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 53px;
          padding: 10px;
          outline: none;
          color: #c9739d; 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
        .pg .areaNewsllater .form input[type="email"]{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 53px;
          padding: 10px;
          outline: none;
          color: #c9739d; 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form input[type="text"]::-webkit-input-placeholder, .topo .pesquisar input[type="text"]::-webkit-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form input[type="text"]:-moz-placeholder, .topo .pesquisar input[type="text"]:-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form input[type="text"]::-moz-placeholder,.topo .pesquisar input[type="text"]::-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form input[type="text"]:-ms-input-placeholder,.topo .pesquisar input[type="text"]:-ms-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }
           /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form input[type="email"]::-webkit-input-placeholder, .topo .pesquisar input[type="text"]::-webkit-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form input[type="email"]:-moz-placeholder,.topo .pesquisar input[type="text"]:-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form input[type="email"]::-moz-placeholder,.topo .pesquisar input[type="text"]::-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form input[type="email"]:-ms-input-placeholder, .topo .pesquisar input[type="text"]:-ms-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }


          /* Chrome, Safari, Opera */
          .pg .areaNewsllater .form textarea::-webkit-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 18- */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* Firefox 19+ */
          .pg .areaNewsllater .form textarea::-moz-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }

          /* IE10+ */
          .pg .areaNewsllater .form textarea::-ms-input-placeholder { 
            color: #c9739d; 
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
          }
        .pg .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(img/if_Arrow_Forward_1063879_white.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            float: right;
        }
    .pg .col-sm-4 aside{
      padding: 0 5px;
    }
    .pg .postsMaislidos {
      margin-top: 40px;
      box-shadow: 0px 0px 32px 0 rgba(0,0,0,0.2);
      width: 100%;
      border-radius: 5px;
      padding: 0 20px;
      padding-bottom: 30px;
    }
      .pg .postsMaislidos span{
        display: block;
        max-width: 289px;
        margin:  0 auto;
        padding-top: 60px;
        text-transform: uppercase;
        color: rgba(38,38,38,0.27);
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 17px
      }
      .pg .postsMaislidos .widget-title{
        display: none;
        
      }
      .pg .postsMaislidos ul{
        display: block;
        max-width: 289px;
        padding-top: 30px;
        margin:  0 auto;
        padding-bottom: 10px;
        list-style: none;
      }
        .pg .postsMaislidos ul li{
          font-size: 0;
        }
        .pg .postsMaislidos ul li a{
          text-decoration: none;
          color: #c9739d;
          font-family: "Open Sans";
          font-size: 19px;
          font-weight: 600;
        }
        .pg .postsMaislidos ul li{
          border-bottom: 1px solid #ccc;
          margin-bottom: 15px;
        }
        .pg .postsMaislidos ul li:last-child{
          border: none;
        }
          .pg .postsMaislidos ul li h3{
            font-family: "Open Sans"; 
            font-size: 12px;  
            line-height: 17px;
            color: rgba(38,38,38,0.52); 
            text-transform: uppercase;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li h2{
            color: #000; 
            font-family: "Open Sans"; 
            font-size: 20px;
            font-weight: 600;
          }
          .pg .postsMaislidos ul li strong{
            color: #d489ac;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;
            margin-top: 15px;
          }

/*PÁGINA INICIAL*/
  .pg-inicial{
    
  }
    .pg-inicial .containerLagura{
      padding-top: 50px;
      margin-top: 25px;
      padding-left: 5px;
      padding-right: 5px;
    }
      .pg-inicial .inicial {
        position: relative;
        padding-bottom: 70px;
      }
      .pg-inicial .inicial .btnCarrosselDestaque{ 
        border: none;
        outline: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background: #c9739d;
        z-index: 2;
        border-radius: 100%;
        color: #fff;
        font-size: 20px;
        -webkit-box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      }
        .pg-inicial .inicial .btnCarrosselDestaque i{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
      .pg-inicial .inicial .btnCarrosselDestaque#btnEsquerda{
        left: 20px;
      }
      .pg-inicial .inicial .btnCarrosselDestaque#btnDireita{
        right: 20px;
      }
      .pg-inicial .inicial .item{ 
       padding: 0 10px;
      }
        .pg-inicial .inicial .item .postDestaque{

        }
          .pg-inicial .inicial .item .postDestaque a{
            display: block;
            text-decoration: none;
            color: #000;
            font-family: 'Open Sans',sans-serif;
          }
            .pg-inicial .inicial .item .postDestaque a figure.imagemDestaque{
              background-size: cover!important;
              background-position: center!important;
              height: 230px;
            }
              .pg-inicial .inicial .item .postDestaque a figure.imagemDestaque img{
                width: 100%;
                visibility: hidden;
              }
            .pg-inicial .inicial .item .postDestaque a span.categoriaPostDestaque{
              text-transform: uppercase;
              display: block;
              margin-top: 15px;
              color: #9c8d94;
              font-weight: 600;
            }
            .pg-inicial .inicial .item .postDestaque a h3.tituloPostDestaque{
              margin: 10px 0 11px 0;
              font-size: 21px;
              min-height: 65px;
            }
            .pg-inicial .inicial .item .postDestaque a span.dataPost{
              display: block;
              text-transform: uppercase;
              color: #9c8d94;
              font-weight: 600;
            }
            .pg-inicial .inicial .item:hover .postDestaque a span.dataPost,.pg-inicial .inicial .item:hover .postDestaque a span.categoriaPostDestaque{
              color: #D489AE;
            }
    .pg-inicial .sessaoPosts{
      padding-top: 30px;
      max-width: 760px;
    }
      .pg-inicial .sessaoPosts ul{
        padding: 0;
        list-style: none;
      }
        .pg-inicial .sessaoPosts ul li{
          min-height: 260px;
          position: relative;
        }
        .pg-inicial .sessaoPosts ul li .comentariosPost{
         
          color: #717171;
          position: relative;

        }
        .pg-inicial .sessaoPosts ul li .comentariosPost:before{
          content: "Comentários"!important;
          display: block;
          background: #fafafa;
          position: absolute;
          z-index: 9;
          left: 11px;
          top: -2px;
        }
        .pg-post .postsRelacionados ul li .comentariosPost{
         
          color: #717171;
          position: relative;

        }
        .pg-post .postsRelacionados ul li .comentariosPost:before{
          content: "Comentários"!important;
          display: block;
          background: #fff;
          position: absolute;
          z-index: 999;
          left: 11px;
          top: -2px;
        }
          .pg-inicial .sessaoPosts ul li a.linkPost{
            text-decoration: none;
          }
            .pg-inicial .sessaoPosts ul li a.linkPost h3{
                color: rgba(38,38,38,0.52); 
                font-family: "Open Sans"; 
                font-size: 12px;  
                line-height: 17px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost h2{
              color: #262626; 
              font-family: "Open Sans"; 
              font-size: 24px;  
              font-weight: bold;  
              line-height: 28px;
              min-height: 60px;
            }
              .pg-inicial .sessaoPosts ul li a.linkPost:hover h2{
              }
              .pg-inicial .sessaoPosts ul li a.linkPost:hover p{
              }
            .pg-inicial .sessaoPosts ul li a.linkPost strong{
                color: #9c8d94;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 20px;
                margin-top: 15px;
            }
            .pg-inicial .sessaoPosts ul li:hover a.linkPost strong{
              color: #d489ac;
            }
            .pg-inicial .sessaoPosts ul li:hover a.linkPost h3{
              color: #d489ac;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost p{
              color: #717171; 
              font-family: "Open Sans"; 
              font-size: 14px;  
              line-height: 22px;    
              min-height: 40px;
            }
          .pg-inicial .sessaoPosts ul li a.linkPost figure{
            text-align: right;
          }
            .pg-inicial .sessaoPosts ul li a.linkPost figure img{
                display: none;
                width: 100%;
                max-width: 290px;
                border-radius: 5px;
                margin-top: 30px;
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
                height: 175px;
            }
            .pg-inicial .sessaoPosts ul li a.linkPost figure span{
                display: inline-block;
                width: 100%;
                max-width: 290px;
                border-radius: 5px;
                margin-top: 30px;
                transition: All .1s ease;
                -webkit-transition: All .1s ease;
                -moz-transition: All .1s ease;
                -o-transition: All .1s ease;
                height: 175px;
                background-size:cover!important ;
                background-position:center!important ;
            }
              
    .pg-inicial .paginador{
      display: inline-block;
    }
      .pg-inicial .paginador ul{
        list-style: none;
      }
        .pg-inicial .paginador ul li{
          display: inline-block;
          padding: 10px 3px; 
          color: rgba(38,38,38,0.52);
        }
          .pg-inicial .paginador ul li a{
            text-decoration: none;
            color: rgba(38,38,38,0.52);
            font-size: 18px;
            padding:10px
          }
            .pg-inicial .paginador ul li a:hover{
              color: #fff;
              background: #d489ac;
            }
    .pg-inicial aside{
      padding: 0 15px;
    }
      .pg-inicial aside ul{
        list-style: none;
        padding: 0;
        padding-top: 3px;
        margin: 0;
      }
        .pg-inicial aside ul li{
          margin-bottom: 21px;
        }
          .pg-inicial aside ul li .imagemPost{
            background: url(img/moinho.jpg);
            display: block;
            width: 100%;
            min-height: 155px;
            background-size: cover!important;
            background-position: center!important;
            border-radius: 5px;
            max-width: 110px;
              transition: All 1s ease;
            -webkit-transition: All 1s ease;
            -moz-transition: All 1s ease;
            -o-transition: All 1s ease;
          }
          .pg-inicial aside ul li:hover .imagemPost{
            background-position: 0px 1%!important;
            transition: All 1s ease;
            -webkit-transition: All 1s ease;
            -moz-transition: All 1s ease;
            -o-transition: All 1s ease;
          }
            
        .pg-inicial aside ul li .texto{
          max-width: 230px;
          margin: 0 auto;
        }
          .pg-inicial aside ul li .texto h3{
            color: rgba(38,38,38,0.52);
            font-family: "Open Sans";
            font-size: 12px;
            line-height: 17px;
            text-transform: uppercase;
            margin-bottom: 0;
            margin: 0;
            margin: 0px 0 10px;
            font-weight: 600;

          }
          .pg-inicial aside ul li .texto h2{
            color: #262626;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 0;
            min-height: 80px;

          }
          .pg-inicial aside ul li .texto strong{
            color: #d489ac;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            margin-top: 15px;
          }
    
    .pg-inicial .areaTags{
      margin-top:80px;
    }
      .pg-inicial .areaTags h3{
        color: #262626;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 20px;
      }
      .pg-inicial .areaTags .tags{
       
      }
        .pg-inicial .areaTags .tags a{
          color: #fff;
          background: #d489ac;
          padding: 9px 15px;
          border-radius: 5px;
          text-align: center;
          display: inline-block;
          margin-bottom: 10px;
          text-decoration: none;
          border: 1px solid transparent;
          -webkit-transition: ease-in-out .3s;
          -o-transition: ease-in-out .3s;
          transition: ease-in-out .3s;
        }
          .pg-inicial .areaTags .tags a:hover{
            background: #fff;
            color: #d489ac;
            border: 1px solid #d489ac;
          }
      .pg-inicial .banners {

      }
         .pg-inicial .banners img {
            border-radius: 5px;
            
         }
        
/* PÁGINA ANUNCIE */
    .pg-anuncie{
      padding: 20px 20px 0;
    }
      .pg-anuncie .conteudoPagina{
        font-family: "Open Sans",sans-serif;
      }
        .pg-anuncie .conteudoPagina h2{
          text-transform: uppercase;
          text-align: center;
          font-weight: 200;
        }
        .pg-anuncie .conteudoPagina p strong {
          font-size: 23px;
        }
        .pg-anuncie .conteudoPagina p {
          margin: 20px 0;
        }
      .pg-anuncie .formularioContato{
        
      }
        .pg-anuncie .formularioContato form{
          
        }
          .pg-anuncie .formularioContato form input[type="text"],.pg-anuncie .formularioContato form input[type="email"]{
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;
            padding: 10px;
            border: 1px solid #c9739d;
            font-size: 16px;
            border-radius: 3px;
            color: #c9739d;
          }
          .pg-anuncie .formularioContato form textarea{
            display: block;
            max-width: 100%;
            min-width: 100%;
            max-height: 300px;
            min-height: 150px;
            margin-bottom: 30px;
            padding: 10px;
            border: 1px solid #c9739d;
            font-size: 16px;
            border-radius: 3px;
            color: #c9739d;
          }
          .pg-anuncie .formularioContato form input[type='submit']{
            width: 100%;
            display: block;
            padding: 7px;
            border: 1px solid #c9739d;
            border-radius: 3px;
            background: #c9739d;
            color: #fff;
            font-family: "Open Sans",sans-serif;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 18px;
            -webkit-transition: ease-in-out .3s;
            -o-transition: ease-in-out .3s;
            transition: ease-in-out .3s;
          } 
          .pg-anuncie .formularioContato form input[type='submit']:hover{
            background: #fff;
            color: #c9739d;
          }

/*PÁGINA POST*/
  .pg-post{
    
  } 
    .pg-post .containerLagura{
      margin-top: 30px;
    }
    
    .pg-post .estruturaPost{
     padding: 50px 15px;
      max-width: 725px;
    }
      .pg-post .estruturaPost h2{
        color: rgba(38,38,38,0.52);
        font-family: "Open Sans";
        font-size: 20px;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
      }
      .pg-post .estruturaPost h1{
        color: #262626;
        font-family: "Open Sans";
        font-weight: 600;
      }
      .pg-post .estruturaPost strong{
        color: #d489ac;
        font-family: "Open Sans";
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .pg-post .textoDoPost strong{
        color: #717171;
        font-weight: initial;
      }

      .pg-post .estruturaPost .textoDoPost{
        margin-top: 20px;
        text-align: left;
      }
       .pg-post .estruturaPost .textoDoPost .wp-caption-text {
          font-style: italic;          
          color: #717171;
       }
  .pg-post .estruturaPost .textoDoPost h2{
          font-size: 25px;
        }
        .pg-post .estruturaPost .textoDoPost h1{
          font-size: 25px;
        }
        .pg-post .estruturaPost .textoDoPost figure{
          width: 100%!important;
        }
        .pg-post .estruturaPost .textoDoPost p{
          color: #717171;
          font-family: "Open Sans";
          line-height: 25px;
          font-size: 15px;
          font-weight: 300;
        }
         .pg-post .estruturaPost .textoDoPost p span{
          font-weight: 300!important;
         }
        .pg-post .estruturaPost .textoDoPost h3{
          margin-bottom: 16px;
          font-weight: bold;
          color: #262626;
          margin: 26px 0;
        }
        .pg-post .estruturaPost .textoDoPost img{
          width: 100%;
          max-width: 100%;
          height: auto;
        }
    .pg-post .estruturaPost .textoDoPost strong{
      color: #909090;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 700;
      text-transform: initial;
    }
      .pg-post .estruturaPost .textoDoPost ul{
       padding-left: 25px;
      }
        .pg-post .estruturaPost .textoDoPost ul li{
         list-style: outside;
         line-height: 24px;
         color: #717171;
         
        }
      .pg-post .postsRelacionados {
        width: 100%;
        max-width: 1090px;
        height: auto;
        min-height: 400px;
        padding: 15px 15px;
        margin: 0 auto
      }
      .pg-post .postsRelacionados span {
        font-size: 30px;
        text-align: left;
        display: block;
        padding: 10px 0;
        color: #909090;
      }
    .pg-post .postsRelacionados ul{
    }  
      .pg-post .postsRelacionados ul li{
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 49.7%;
      }  
        .pg-post .postsRelacionados ul li a:hover > .pg-post .postsRelacionados ul li .estruturaPostRelacionado h1 {
        }
        .pg-post .postsRelacionados ul li a {
          
        }
        .pg-post .postsRelacionados ul li .estruturaPostRelacionado {
          width: 100%;
        }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado .imagemDestaquePost {
            width: 100%;
            height: auto;
            min-height: 200px;
            border-radius: 5px;
            background-size: cover!important;
            background-position: center!important;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado h1 {
            margin: 0;
            text-align: center;
            color: #000;
            font-family: 'Roboto', sans-serif;
            font-size: 23px;
            padding: 0 10px;
            min-height: 55px;
            margin-top: 10px;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado h2 {
            margin: 0;
            color: #717171;
            padding: 10px 0 0 0;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-align: center;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado span {
            color: #d489ac;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
            display: block;
            text-align: center;
          }
          .pg-post .postsRelacionados ul li .estruturaPostRelacionado p {
            color: #717171;
            font-size: 15px;color: #717171;
            font-size: 15px;
            min-height: 62px;
          }


/* PAGINA QUEM SOMOS */
  .pg-quemSomos{
  }
    .pg-quemSomos .bannerPost{
      margin: 20px auto 0;
    }
    .pg-quemSomos figure.bannerPost{
      background: url(img/banner-historia.jpg);
      position: relative;
      width: 100%!important;
      height: 400px!important;

    }
    .pg-quemSomos figure.bannerPost:before{
      content: "";
      display: block;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, 
        rgba(0, 0, 0, 0.45) 45%, 
        rgba(0, 0, 0, 0.1) 85%, 
        transparent 100%);
      position: absolute;
      width: 100%;
      height: 100%;

    }
     .pg-quemSomos figure.bannerPost h1{
        color: #FFFFFF;
        font-family: "Open Sans";
        font-weight: bold;
        line-height: 43px;
        width: 100%;
        max-width: 766px;
        margin: 0 auto;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
    .pg-quemSomos .textoQuemSomos{
      padding-top: 57px;
      width: 100%;
      max-width: 766px;
      margin: 0 auto;
    }
      .pg-quemSomos .textoQuemSomos p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
        font-weight: 300;
      }
    .pg-quemSomos ul{
      text-align: center;
      margin-top: 50px;
    }
      .pg-quemSomos ul li {
        display: inline-block;
        margin: 20px 30px;
        width: 260px;
        text-align: center;
      }
        .pg-quemSomos ul li img {
          border-radius: 100%;
          display: block;
          max-width: 250px;
          height: 250px;
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
        .pg-quemSomos ul li img:hover{
          transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -webkit-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -moz-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -o-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          -ms-transform: rotate(2deg) scale(1) skew(1deg) translate(0px);
          transition:All 1s ease;
          -webkit-transition:All 1s ease;
          -moz-transition:All 1s ease;
          -o-transition:All 1s ease;
        }
        .pg-quemSomos ul li h2 {
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px; 
          font-weight: 700;  
          line-height: 23px;  
          text-align: center;
          font-weight: 600;
        }

        .pg-quemSomos ul li span {
          color: #d489ac;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 600;
          line-height: 17px;
          text-align: center;
          margin: 0 auto;
          text-transform: uppercase;
        }
          .pg-quemSomos .owl-carousel.owl-loaded:before{           display: block;
            content: " ";
            width: 121px;
            height: 140px;
            background: red;
            right: 0;
            position: absolute;
            z-index: 999;
            background: linear-gradient(to left, #c9739deb 0%, #c9739d85 45%, #c9739d54 85%, #74af9100 100%);
          }
        
/*PÁGINA DE CONTATO*/
  .pg-contato{
    padding-top: 20px;
  }

    .pg-contato figure{
        
    }
    .pg-contato .bannerPost{
      height: 320px;
      width: 100%;
    }
    .pg-contato article{
        padding-top: 20px;
        width: 100%;
        max-width: 500px;
        margin-bottom: 70px;
        padding: 20px 10px;
    }
      .pg-contato article h3{
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 36px;  
          font-weight: bold;  l
          line-height: 48px;
      }
      .pg-contato article p{
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 22px;
      }
    .pg-contato .areaContato{
    padding: 0 20px;
    }
      .pg-contato .areaContato .endereco{
        width: 100%;
        max-width: 212px;
      }
        .pg-contato .areaContato .endereco span{ 
          color: #262626; 
          font-family: "Open Sans"; 
          font-size: 20px;  
          font-weight: bold;  
          line-height: 23px;
          display: block;
        }
        .pg-contato .areaContato .endereco a{
          text-decoration: none;
          color: #717171; 
          font-family: "Open Sans"; 
          font-size: 14px;  
          line-height: 31px;
          cursor:initial;
        }
    .pg-contato .areaContato .contato{
      
    }
      .pg-contato .areaContato .contato span{
        color: #262626; 
        font-family: "Open Sans"; 
        font-size: 20px;  
        font-weight: bold;  
        line-height: 23px;
        display: block;
      }
      .pg-contato .areaContato .contato a{
        text-decoration: none;
        color: #717171; 
        font-family: "Open Sans"; 
        font-size: 14px;  
        line-height: 31px;
        display: block;
      }
    .pg-contato .areaNewsllater figure {
      max-width: 432px;
    }

      .pg-contato .areaNewsllater {
        min-height: 745px;
        margin-top: -170px;
      }
      .pg-contato .areaNewsllater p{
        color: #fff;
        font-size: 24px;
        max-width: 432px;
        margin: 0 auto 30px;
      }
      .pg-contato .areaNewsllater .form{
        max-width: 432px;
      }
        .pg-contato .areaNewsllater .form input[type="text"]{
          margin: 31px 0;
        }
        .pg-contato .areaNewsllater .form input[type="submit"]{
            background: transparent;
            color: transparent;
            border: none;
            background: url(img/if_Arrow_Forward_1063879_white.png);
            width: 35px;
            background-repeat: no-repeat!important;
            outline: none;
            height: 25px;
            margin-top: 44px;
            margin-bottom: 10px;
        }
        .pg-contato .areaNewsllater .form textarea{
          display: block;
          margin: 10px auto 25px;
          width: 100%;
          border-radius: 3px;
          border: none;
          height: 143px;
          padding: 10px;
          outline: none;
          color: rgba(38,38,38,0.52); 
          font-family: "Open Sans"; 
          font-size: 12px;  
          line-height: 17px;
        }
  .pg-contato iframe{
    margin: 100px 0 0;
    width: 100%;
    height: 300px;
  }

/*EXTRAS*/
  .containerLagura{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
  }
  .topoFixo{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    display: none;
    background: #fff;
    padding: 0 10px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
  }
  .topo.topoFixo .containerMenu .logo img{
    max-width: 130px;
  }
  .topo.topoFixo .containerMenu{
    padding: 0;
  }
  .topo.topoFixo .navbar .navbar-header nav ul li a{
    padding-top: 12px;
    padding-bottom: 5px;
  }
  .topo.topoFixo .containerMenu .logo{
    padding-top: 8px;
  }
  .bannersSidebar{
    width: 100%;
    margin-top: 60px;
  }
  .bannersSidebar img{
    display: block;
    border-radius: 5px;
    width: 100%;
    height: auto;

  }
  .numero.selecionado{
    background: #d489ac;
    color: #fff!important;
  }
  .backToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 999;
  }
    .backToTop #subir {
      width: 44px;
      height: 44px;
      position: absolute;
      background: #c9739d;
      color: #fff;
      border-radius: 100%;
      border: 1px solid transparent;
      text-align: center;
      font-size: 25px;
    }
      .backToTop #subir i {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    .backToTop #subir:hover {
      border: 1px solid #c9739d;
      background: #fff;
      color: #c9739d;
      -webkit-transition: all linear .3s;
      -moz-transition: all linear .3s;
      -o-transition: all linear .3s;
      cursor: pointer;
    }
    .disqus {
      padding: 20px;
    }
  .widget_wysija_cont .updated, .widget_wysija_cont .login .message{
    background: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .wysijap-template-default.single.single-wysijap .pg .bannerPost{
    display: none;
  }
  .wysijap-template-default.single.single-wysijap .col-sm-4{
    display: none;
  }
  .wysijap-template-default.single.single-wysijap .col-sm-8{
    width: 100%;
    text-align: center;
  } 
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost .textoDoPost{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .postsRelacionados span{
   display: none;
  }
  .wysijap-template-default.single.single-wysijap .pg-post .estruturaPost strong{
   display: none;
  }

  .navbar-nav>li>a {
    padding-top: 17px;
    padding-bottom: 0px; 
  }

  .rodape .menuRodape nav ul li.menu-item-1992 {
    display: none;
  }
  span.wpcf7-not-valid-tip {
    font-size: 0.5em!important;
    display: block!important;
    position: absolute!important;
    top: 50%!important;
    right: 15px!important;
    width: 130px!important;
    -webkit-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    -o-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
  }
  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
    color: #fff;
    text-align: center;
    width: 100%;
    border-radius: 5px;
  }
  .wpcf7-form-control-wrap {
    display: block;
  }
  .pg-contato div.wpcf7-response-output{
    margin: 4em 0.5em 1em!important;
  }
  .biografiaSidebar{
    margin-top: 23px;
  }
    .biografiaSidebar p.nome{
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 12px;
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      color: #262626;
      letter-spacing: 1px;
      font-size: 18px;
    }
    .biografiaSidebar .imagemPessoal{
      
    }
      .biografiaSidebar .imagemPessoal img{
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 0 auto;
        display: block;
        max-width: 320px;
      }
    .biografiaSidebar .descricaoBio{
      
    }
      .biografiaSidebar .descricaoBio p{
        margin-top: 10px;
        font-family: "Raleway",sans-serif;
        font-size: 13px;
        text-align: left!important;
        padding: 0 10px;
      }
    .biografiaSidebar .redesSociaisBio{
      
    }
      .biografiaSidebar .redesSociaisBio ul{
        text-align: center;
        padding: 0 0 0 10px;
      }
        .biografiaSidebar .redesSociaisBio ul li{
          display: inline-block;
          margin: 0 2px;
          text-align: center;
        }
          .biografiaSidebar .redesSociaisBio ul li a{
            text-decoration: none;
            color: #9c8d94;
            font-size: 15px;
          }
            .biografiaSidebar .redesSociaisBio ul li a i{
              
            }
          .biografiaSidebar .redesSociaisBio ul li a:hover{
            color:#c9739d;
          }

  .parcerias{
    margin: 35px auto 0;
  }
    .parcerias h3{
      font-family: "Raleway",sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }
    .parcerias ul.listaParcerias{

    }
      .parcerias ul.listaParcerias li{
        text-align: center;
      }
        .parcerias ul.listaParcerias li a{

        }
          .parcerias ul.listaParcerias li a img{
            width: 100%;
            max-width: 210px;
            margin: 20px auto   ;
          }


/*@MEDIA QUERY*/
  @media(max-width: 1366px){
    .instagramRodape #instafeed a .itemInstagram {
      min-height: 160px;
    }
  }
  @media(max-width: 1200px){
    .pg .bannerPost{
      width: 100%;
    }
  }

  @media(max-width: 991px){
    .topo .containerMenu .logo img{
          margin: 0 auto;
    }
    .topo .navbar .navbar-header nav ul{
      text-align: center;
      padding-right: 0;
      max-width: 100%;
    }
    .pg-inicial aside ul li .texto h2{
      line-height: 20px;
      font-size: 18px;
    }
    .pg-inicial aside ul li .texto{
      padding: 0 10px
    }
    .pg-inicial .sessaoPosts ul li{
      padding: 0 10px;
    }
    .pg-inicial .paginador{
      display: block;
      text-align: center;
    }
    .pg-quemSomos .textoQuemSomos{
      padding: 0 10px;
    }
    .pg-quemSomos figure.bannerPost{
      height: 350px!important;
    }
    .pg-quemSomos figure.bannerPost h1{
      text-align: center;
      max-width: 100%;
    }
    .pg-quemSomos ul li{
      margin: 0;
    }
    .pg-quemSomos .linhadoTempo{
      padding-right: 10px;
      padding-left: 10px;
    }
    .owl-carousel.owl-loaded::before{
      right: -10px;
    }
    .pg-inicial .banners {
      width: 96%;
      margin: 0 auto;
    }
    .banners img {
      width: 100%;
      height: auto;
    }
    .rodape_as{
      text-align: center;
    }
    .instagramRodape #instafeed a .itemInstagram {
      min-height: 270px;
    }
    .instagramRodape #instafeed a {
      width: 33%;
    }
  }
  @media(max-width: 767px){
    .topo .containerMenu .logo img{
      position: initial;
      max-width: 250px;
    }
    .pg-inicial .containerLagura{
      padding-top: 0px;
      margin-top: 0px;
    }
    .pg-post .postsRelacionados ul li{
      width: 100%;
    }
    .pg-post .estruturaPost .textoDoPost img{
      display: block;
      width: 100%;
    }
    .dropdown.open .sub-menu.dropdown-menu{
      padding-left: 20px;
    }
    .pg-contato .areaNewsllater{
      margin-top: 0;
    }
    .pg-inicial .sessaoPosts ul li{
      text-align: center;
      border-bottom: solid 1px #ccc;
      padding:0 10px 40px;
    }
    .pg-inicial .sessaoPosts ul li a.linkPost figure{
      text-align: center;
    }
    .pg-inicial aside ul{
      display: none;
    }
    .pg-inicial .areaTags .tags{
      text-align: center;
    }
    .rodape{
      text-align: center;
      padding: 10px;
    }
    .rodape .descricao{
      text-align: center;
      max-width: 100%;
    }
     .topo .navbar button{
      display: block;
    }
    .topo .navbar .navbar-header nav ul li{
      display: block;
      margin: 5px;
    }
    .topo .navbar .navbar-header nav ul{
      text-align: left;
      overflow-y: auto;
    }
    .pg .bannerPost{
      height: 250px;
    }
    .pg-post .estruturaPost h1{
      font-size: 25px;
    }
    .pg-contato article{
      text-align: center;
      margin: 0 auto;
    }
    .pg-contato .areaContato .endereco{
      text-align: center;
      margin: 0 auto;
      max-width: 320px;
    }
    .pg-contato .areaContato .contato{
      text-align: center;
      margin: 20px auto;
      max-width: 320px;
    }
    .topoFixo{
      display: none;
      z-index: -1;
      visibility: hidden;
    }
    .banners img{
      margin:0 auto;
    }
   
    .topo .pesquisar{
      max-width: 98%;
      display: block;
      margin: 0 auto;
    }
    .topo .pesquisar.abrirAreaPesquisar{
      max-width: 98%;
    }
    .topo .pesquisar input[type="text"]{
      opacity: 1;
    }
    .pg-post .postsRelacionados span {
      text-align: center;
      font-size: 20px;
    }
    .topo .navbar .navbar-header nav {
      background: #fff;
    }
    .topo .nav.navbar-nav{
      width: 100%;
    }
    .topo .navbar .navbar-header nav ul li a{
      text-align: left;
    }
    .instagramRodape{
      display: none;
    }
    .rodape_as{
      box-shadow: none;
    }
    .biografiaSidebar .redesSociaisBio ul{
      display: block;
    }
    .pg-inicial .inicial .item .postDestaque a figure.imagemDestaque{
      height: 350px;
      border-radius: 5px;
    }
    .pg-inicial .inicial .btnCarrosselDestaque{
      display: none;
    }
    .pg-inicial .sessaoPosts ul li a.linkPost figure span{
      max-width: 100%;
      height: 300px;
    }
    aside{
      margin-bottom: 10px;
    }
    .copyrightRodape p a {
      margin-top: 10px;
      display: block;
      margin-left: 0;
    }
  }

  @media(max-width: 425px){
    .pg-inicial .sessaoPosts ul li a.linkPost h2{
      font-size: 20px;
    }
    .pg-anuncie .conteudoPagina h2{
      margin-top: 50px;
    }

  }

  @media(max-width: 320px){
  
  }
